# Database
DATABASE_URL="postgresql://neondb_owner:npg_UxnXA91WuIOz@ep-ancient-wave-adcfv7fl-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="E9SzFfmJSNRoYh5xu+etmyvGl5EpkmyBxCumveTNuYc="
# STRIPE_SECRET_KEY="sk_test_51SdWBrBnYymfumPuL8NdItG11ME5xAwzSMOanEcYoyCkzcJlY83IeDgATZ7je9D5rXzH2sbKUSPTF7cx2yAWRrFw00RfyX7s3b"
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51SdWBrBnYymfumPuvFKl694piJP2CQH0n3n32u6rAUpCWfi2llRWyW4IASL4GrkCIgUU9EtLLrkcBjoxODNDtV2T00J7RtfOwH"
# STRIPE_WEBHOOK_SECRET="whsec_placeholder_will_update_after_deployment"

#price_1Sio6vBnYymfumPuA1dGE51L
# Stripe

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here



# Stripe Price IDs


# Email (for alerts - optional, can use SendGrid, Resend, etc.)
EMAIL_FROM="alerts@shieldseller.com"
EMAIL_SERVER=""

# App Settings
NEXT_PUBLIC_APP_URL="http://localhost:3000"
